p {
  text-align: justify;
}

h1 {
  margin-top: 0.1em;
}

hr {
  margin-bottom: 1.6em;
}

.caption {
  text-align: center;
}

.caption.collapsible-parent {
  text-align: left;
}

.binder-button {
  display: none;
}

main.bd-content #main-content .prev-next-bottom {
  display: none;
  overflow: auto;
  margin-top: 3em;
  margin-bottom: 1em;
}